/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-background-image: url(../images/cover-image-light.png);
  --main-background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --main-title-color: #ffc2e6;
  --title-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
}

:root.theme-light .decorated-zone::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

:root.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
}

:root.theme-light .rec {
  display: none;
}

:root.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

:root.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

:root.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text-color);
}

:root.theme-light .section-title {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --main-background-image: url(../images/cover-image-light.png);
    --main-background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --main-title-color: #ffc2e6;
    --title-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
  }

  /* Остальные стили, только при необходимости */
  .decorated-zone::before {
    border-top: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color);
    border-left: 1px solid var(--text-color);
  }

  .rec {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--text-color);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color);
  }

  .section-title {
    color: var(--text-color);
  }
}
