/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-background-image: url(../images/cover-image-light.png);
  --main-background-color: #fff1f7;
  --accent-color: #353430;
  --text-color: #353430;
  --main-title-color: #ffc2e6;
  --title-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.4);
  --shadow-color: #FF8DCB;
  --title-bg-color: #FF8DCB;
}

:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем только те же переменные, что и выше */
    --main-background-image: url(../images/cover-image-light.png);
    --main-background-color: #fff1f7;
    --accent-color: #353430;
    --text-color: #353430;
    --main-title-color: #ffc2e6;
    --title-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.4);
    --shadow-color: #FF8DCB;
    --title-bg-color: #FF8DCB;
  }

  /* Остальные стили, только при необходимости */

  .rec {
    display: none;
  }

}
