/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--main-background-color);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--main-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 40px;
  padding: var(--space);
  block-size: max(100vh, 668px);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: var(--space);
  right: var(--space);
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: var(--space);
  left: var(--space);
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
}

.rec {
  position: absolute;
  top: var(--space);
  right: calc(var(--space) + 28px);
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  color: var(--main-title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-text {
  align-self: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.title-decor {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 40px;
  padding: 0 var(--space);
}

.section-title {
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.section-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.card-text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  text-decoration: none;
  text-shadow: 1px 1px 0 var(--accent-color);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: -1px;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.margin {
  margin-bottom: 20px;
}

.additional-title {
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery-image {
  object-fit: cover;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space);
  block-size: max(100vh, 668px);
}

.footer-title {
  color: var(--main-title-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 60px;
    block-size: max(100vh, 1024px);
  }

  .header__title {
    margin-left: calc(0px - var(--space));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text {
    justify-self: flex-end;
    max-inline-size: 364px;
  }

  .main {
    gap: 80px;
    margin-bottom: 60px;
  }

  .section {
    display: grid;
  }

  .reasons {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 40px;
  }

  .reasons .section-list {
    grid-column: 2 / 4;
  }

  .concentration .section-title {
    max-inline-size: 236px;
  }

  .actions {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery .card-title {
    grid-column: 1 / 4;
  }

  .gallery-image {
    block-size: 100%;
  }

  .sunset {
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .tape {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    block-size: max(100vh, 1024px);
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    block-size: max(100vh, 768px);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header-text {
    max-inline-size: 491px;
  }

  .section-title {
    margin-bottom: 0;
  }

  .reasons {
    gap: 20px;
  }

  .concentration {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .concentration .section-title {
    grid-column: 1 / 4;
    max-inline-size: 315px;
  }

  .concentration .section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 4;
    gap: 20px;
  }

  .actions {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .actions-list {
    grid-column: 2 / 4;
  }

  .footer {
    block-size: max(100vh, 768px);
  }
}
